.imagem {
    position: relative;
}

.descricao {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 1.5rem);
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: large;
}

.imagem--visivel .descricao {
    display: flex;
    justify-content: center;
    align-items: center;
}